<section id="" class="pricing-new-lesson">
  <div class="">        
    <hr class="deposit-hr-navy">
    <div class="row col-md-12 price-details">
      <ul>
        <li>All <b>lessons include a lift ticket</b>, and it is best to purchase the learn to ski package if you need rentals.</li>
        <li>If you are not taking lessons, lift tickets and rentals are sold according to the rates below. </li>
        <li>If you are booking last minute and we have no more rental equipment available, we recommend you visit <a href="/tahoe-daves" class="navy-link" target="_blank">Tahoe Dave's</a>, which is a local retailer with five locations in the North Tahoe area, with rental packages starting at $32/day.   
        <li>Likewise, if you need to rent any winter apparel, Tahoe Dave's also offers rentals on ski pants, jackets, and gloves.</li>         
        </ul>
      </li>                   
    </div> 
    <hr class="deposit-hr-navy">
    <table class="col-lg-12 col-xs-12 pricing-table">
      <thead class="">
        <tr>
          <th class="center price-header" colspan="4">
            <h1>LIFT TICKETS RATES</h1>                    
          </th>
        </tr>
        <tr class="">
          <th class="col-xs-2"> </th>
          <th class="pricing-snowschoolers col-xs-2">Regular Rate </th>
          <th class="pricing-snowschoolers col-xs-2">Holiday Rate </th>
          <th class="pricing-snowschoolers col-xs-2">Half-day </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="pricing-length">Adult lift ticket</td>
          <td class="pricing-snowschoolers"> $35</td>
          <td class="pricing-snowschoolers">$40</td>
          <td class="pricing-snowschoolers">$17.50</td>
        </tr>
        <tr>
          <td class="pricing-length">Child lift ticket (12 and under)</td>
          <td class="pricing-snowschoolers">$25</td>
          <td class="pricing-snowschoolers">$30</td>
          <td class="pricing-snowschoolers">$12.50</td>
        </tr>            
      </tbody>
    </table>
    <div class="col-md-12 row">
      <hr class="deposit-hr-navy">
    </div>
    <table class="col-lg-12 col-xs-12 pricing-table">
      <thead class="">
        <tr>
          <th class="center price-header" colspan="3">
            <h1>EQUIPMENT RENTAL RATES</h1>                    
          </th>
        </tr>
        <tr class="">
          <th class="col-xs-4"> </th>
          <th class="pricing-snowschoolers col-xs-2">Adult </th>
          <th class="pricing-snowschoolers col-xs-2">Child </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="pricing-length">Ski package (skis, boots, poles)</td>
          <td class="pricing-snowschoolers"> $35</td>
          <td class="pricing-snowschoolers">$30</td>
        </tr>
        <tr>
          <td class="pricing-length">Snowboard package (board, boots)</td>
          <td class="pricing-snowschoolers">$35</td>
          <td class="pricing-snowschoolers">$30</td>
        </tr>            
        <tr>
          <td class="pricing-length">Cross-country package</td>
          <td class="pricing-snowschoolers">$20</td>
          <td class="pricing-snowschoolers">$14</td>
        </tr>            
        <tr>
          <td class="pricing-length">Snowshoes package</td>
          <td class="pricing-snowschoolers">$20</td>
          <td class="pricing-snowschoolers">$14</td>
        </tr>            
        <tr>
          <td class="pricing-length">Boots only</td>
          <td class="pricing-snowschoolers">$15</td>
          <td class="pricing-snowschoolers">$12</td>
        </tr>            
        <tr>
          <td class="pricing-length">Helmets</td>
          <td class="pricing-snowschoolers">$6</td>
          <td class="pricing-snowschoolers">$6</td>
        </tr>            
      </tbody>
    </table>

  </div>    
</section>