<section id="" class="pricing-new-lesson">
    <div class="">        
        <table class="col-lg-12 col-xs-12 pricing-table">
          <thead class="">
            <tr>
                <th class="center price-header" colspan="3">
                    <h1>LESSON RATES</h1>                    
                </th>
            </tr>
            <tr class="">
              <th class="col-xs-4"> </th>
              <th class="pricing-snowschoolers col-xs-2">Regular Rate </th>
              <th class="pricing-snowschoolers col-xs-2">Holiday Rate </th>
            </tr>
          </thead>

          <% if Product.where(location_id:24,length:"1.00",product_type:'private_lesson').first == nil %>
          <h1 class='text-danger center'> Pricing Not Yet Available </h1>

          <% else %> 

          <tbody>
            <tr>
                <td class="pricing-length">1hr Group Lesson Only (no equipment)</td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'group_lesson',calendar_period:"Regular").first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'group_lesson',calendar_period:"Holiday").first.price, :precision => 0) %>
                </td>
            </tr>
            <tr>
                <td class="pricing-length">1hr Learn to Ski Package (with equipment)</td>
               <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'learn_to_ski',calendar_period:"Regular").first.price, :precision => 0) %>
                </td>
                <td class="pricing-snowschoolers">
                    <%= number_to_currency(Product.where(location_id:24,length:"1.00",product_type:'learn_to_ski',calendar_period:"Holiday").first.price, :precision => 0) %>
                </td>
            </tr>            
          </tbody>
          <% end %>
        </table>
        <div class="row col-md-12 price-details">
            <h4>For private lessons, make your reservation at <a href="www.snowschoolers.com/granlibakken" class="black-link">www.snowschoolers.com/granlibakken</a></h4>
            <h4 class="italic">
            *All lessons include a lift ticket. Weekend walk-ins often sell out, so it is highly encouraged to book in advance.
            <br>
            </h4>            
        </div>
    </div>    
</section>