<section id="" class="pricing-new-lesson">
  <div class="">        
    <hr class="deposit-hr-navy">
    <div class="row col-md-12 price-details">
      <ul class="sledding-details">
        <li>All sled hill tickets include a saucer rental for the day.</li>
        <li>Guest staying at the Granlibakken lodge are eligible to receive 50% off. </li>
        <li>An all-season sledding pass is available for $75/person. </li>
        </ul>
      </li>                   
    </div> 
    <!-- <hr class="deposit-hr-navy"> -->
    <table class="col-lg-12 col-xs-12 pricing-table">
      <thead class="">
        <tr>
          <th class="center price-header" colspan="4">
            <h1>PRICING</h1>                    
          </th>
        </tr>
        <tr class="tickets-table">
          <th class="col-xs-2"> </th>
          <th class="pricing-snowschoolers col-xs-2">Regular Rate </th>
          <th class="pricing-snowschoolers col-xs-2">Holiday Rate* </th>
        </tr>
      </thead>

      <tbody>
        <tr class="tickets-table">
          <td class="pricing-length">All-day Ticket</td>
          <td class="pricing-snowschoolers"> $20</td>
          <td class="pricing-snowschoolers">$25</td>
        </tr>
      </tbody>
    </table>
    <p class="text-smaller">
      *Dec 21-Jan 6, Jan 12-14, Feb 16-24
    </p>
    <div class="col-md-12 row">
      <!-- <hr class="deposit-hr-navy"> -->
    </div>
  </div>    
</section>