<section id="pricing" class="pricing-section">
    <div class="pricing-container">

        <%= render partial: "welcome/prices_simple" %>

        <div class="row col-md-12 price-details">
            <h4 class="italic">
           If you do not need a lesson, lift tickets can be purchased at the mountain for $35 (regular) or $40 during the holiday dates below.
            <br>
            </h4>
            <ul>
                <li>Christmas period: 12/16/17 to 1/7/17 </li>
                <li>MLK weekend : 1/18/18 to 1/20/18</li>
                <li>President’s week: 2/17/18 to 2/25/18</li>
            </ul>
        </div>
        <h4 class="center"><a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book Today</a></h4>    
    </div>
</section>
