<h2 id="tickets-and-rentals" class="section-heading how-it-works navy-text center">Tickets & Rental Equipment</h2>
<h3 class="left">
	When you book enough at least 72 hours in advance, we can generally include rentals in your lesson package. However, our rental selection is limited, and so we recommend to call if your lesson is less than 72 hours ahead.
</h3>

<%= render partial: "welcome/prices_equipment_tickets" %>

