<h2 id="tickets-and-rentals" class="section-heading how-it-works navy-text center">Rental Equipment</h2>
<h3 class="left">
	If you book enough in advance, we can generally include rentals in your lesson package. However, our rental selection is limited, and so we recommend to call if your lesson is less than 48 hours ahead, and we may need to ask you to rent equipment elsewhere.
</h3>
<h3 class="left"><b></b> Overall, keep in mind that the best way to save money over the long term is to invest your own equipment, but if you're not quite there yet, here are the best options for rentals.
</h3>
<hr class="deposit-hr-navy">
</div>

<h3 class="left"><b> Rental Equipment</b></h3>
      <ul class="guide-lists">
        <li> If you live in the Bay Area or Sacramento, the best option for rentals is the <a href="/sports-basement" class="navy-link" target="_blank">Sports Basement</a>, which offers 1-day rentals for $35 or a <b> long weekend rental (2-4 days) for just $55</b>.They'll also outfit you with apparel for rent, from ski jackets to pants to helmets and goggles. Particularly with little ones who grow out of things so quickly, renting is the way to go!
        </li>
        <br>
        <li>Another convenient option is to rent from a retail shops in the Tahoe area. We recommend <a href="/tahoe-daves" class="navy-link" target="_blank">Tahoe Dave's</a>, which has five locations in North Tahoe with beginner packages starting at just $32/day. Note that they get very busy on Friday evenings and Saturday morning, so also good to call ahead.
        </li>
        <br>
        <li>
        <a href="/skibutlers" target="_blank">
        	<img src="https://s3.amazonaws.com/snowschoolers/ski-butlers-logo.jpg" alt="ski butlers" class="skibutlers-logo">
        </a>      
        Our favorite option for rentals is a company called <a href="/skibutlers" class="navy-link" target="_blank">Ski Butlers</a>. They are a concierge-style delivery service that allows you to book online and have a professional boot-fitter show up to your hotel or cabin the night before to outfit you with the right equipment. As an <b>official Ski Butlers partner</b>, all or our Snow Schoolers customers receive 10% off their rentals. No promo codes are necessary to redeem, <a href="/skibutlers" class="navy-link" target="_blank">click this link</a> and you should see "Snow Schoolers" in the top right of the page, which means your 10% discount has been applied. Ski Butlers rates start at $26/day for kids 12 and under, and $37/day for adults.
        </li>
        <br>
      </ul>	

