<h2 id="tickets-and-rentals" class="section-heading how-it-works black-text center">Sledding Hill Tickets</h2>
<h3 class="left">
	We encourage all guests to book tickets for the sledding hill online in advance. When you do so, you'll be able to complete the mandatory waiver online, and you will then receive an electronic confirmation that you can present directly at the sled hill. Unless you purchase online, expect to <b> wait in line at least 45 minutes </b> on weekends and holidays. 
</h3>

<%= render partial: "welcome/prices_equipment_tickets" %>

