<% meta_tag :description, "Granlibakken is an online platform for private ski & snowboard lessons. We offer guests the ability to easily book a private lesson online with our fleet of expert, certified instructors." %>
<div class="blog-container">
<div class="title-author-top">
  <p>
    <h1 class="center navy-text">
      <strong>
      <p>
      	Granlibakken is an online platform for private ski & snowboard lessons. We offer guests the ability to easily book a private lesson online with our fleet of expert, certified instructors.
      </p>
      </strong>
    </h1>
  </p>
</div>

<div class="content-area col-lg-12 col-xs-12">

<hr>
<div class="buffer"></div>
</div>
