<% title 'Apply as an Instructor' %>
<% meta_tag :description, "Granlibakken instructors get 100% schedule flexibility, higher average earnings and tips, and access to modern client communication tools that allow you to cultivate a loyal following of clients." %>

    <section id="recruiting-landing-page" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
        </ul>        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 white-transparent-bg">
                    
                    <div class="col-md-12 padding-top hidden-unless-desktop">
                        <h1 class="center navy-text btn-apply btn-lg"> Get Started and Apply Today</h1>
                    </div>
                    <div class="col-md-12">
                        <%= render partial: 'instructors/form' %>
                    </div>
                </div>                
            </div>
        </div>
    </section>



    <section class="navy-bg small">
        <div class="container text-center">
            <div class="call-to-action">
                   <a href="#apply" class="btn btn-primary btn-xl page-scroll">Apply Now</a>
                   <h4 class="white-text">
                    Questions? Email us at <a href="mailto:frontdesk@granlibakken.com">frontdesk@granlibakken.com</a>
                   </h4>

            </div>
        </div>
</section>
<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
