<h4><b>What else do you need to know?</b></h4>
    <ul>
      <li>The ski hill is open daily from 8:45am to 4:00pm</li>
      <li>The upper Poma lift is for experienced skiers & snowboards only. Beginners must first demonstrate the ability to stop and turn safely before going to the top.</li>
    </ul>

    <h4><b>Ski Hill Location</b></h4>
    <p>
      The sledding hill located at <a href="https://www.google.com/maps/place/Granlibakken+Ski+%26+Sledding+Hill/@39.1561613,-120.1565678,17z/data=!4m13!1m7!3m6!1s0x80997d8619f5ff29:0x815523715ab4e748!2s725+Granlibakken+Rd,+Tahoe+City,+CA+96145!3b1!8m2!3d39.1561613!4d-120.1543791!3m4!1s0x80997d88a3630ec7:0x30c3373b77f6c7b4!8m2!3d39.1540162!4d-120.1547892" target="_blank" class="black-link" >725 Granlibakken Rd, Ski Hill, Tahoe City, CA 96145</a>. As you're coming in on Granlibakken Road, you will notice the ski & sled hill on the left side of the road, with two large brown buildings in front. Parking is free and you may park anywhere on the main road. If you do not see parking near the ski hill, continue up the road and make the first right, and you will see more parking as you approach the Cedar House lodge. 
    </p>
    <img src="https://s3.amazonaws.com/snowschoolers/gb-sledding-email.jpeg" alt="sledding-hill-location" height="400" width="700" class="sled-hill-map" />
    
    <p>If you have any questions about where to find appropriate winter clothing, or are looking for last minute accommodations, please feel free to reach out to us at <a href="mailto:tickets@granlibakken.com">tickets@granlibakken.com.</a></p>
