<h4><b>What else do you need to know?</b></h4>
    <ul>
      <li>The sledding hill is open daily from 9am to 4pm</li>
      <li>Plastic saucers are included in your ticket price. You may also choose to bring your own sled or saucer, but for safety and insurance purposes, Granlibakken does not allow toboggans, sliding devices with metal or wood, inflatable sliding devices (too fast), or snow skates.</li>
      <li>We also do not allow more than two (2) sleds or saucers linked together on the sled hill.</li>
      <li>Parents who choose to sled down with their children are recommended to have each person on their own saucer and to link the child to the parent with the adult’s legs.</li>
    </ul>

    <h4><b>Sledding Hill Location</b></h4>
    <p>
      The sledding hill located at <a href="https://www.google.com/maps/place/Granlibakken+Ski+%26+Sledding+Hill/@39.1561613,-120.1565678,17z/data=!4m13!1m7!3m6!1s0x80997d8619f5ff29:0x815523715ab4e748!2s725+Granlibakken+Rd,+Tahoe+City,+CA+96145!3b1!8m2!3d39.1561613!4d-120.1543791!3m4!1s0x80997d88a3630ec7:0x30c3373b77f6c7b4!8m2!3d39.1540162!4d-120.1547892" target="_blank" class="black-link" >725 Granlibakken Rd, Ski Hill, Tahoe City, CA 96145</a>. As you're coming in on Granlibakken Road, you will notice the ski & sled hill on the left side of the road, with two large brown buildings in front. Parking is free and you may park anywhere on the main road. If you do not see parking near the ski hill, continue up the road and make the first right, and you will see more parking as you approach the Cedar House lodge. 
    </p>
    <img src="https://s3.amazonaws.com/snowschoolers/gb-sledding-email.jpeg" alt="sledding-hill-location" height="400" width="700" class="sled-hill-map" />
    
    <p>If you have any questions about where to find appropriate winter clothing, or are looking for last minute accommodations, please feel free to reach out to us at <a href="mailto:frontdesk@granlibakken.com">frontdesk@granlibakken.com.</a></p>
